global
    maxconn 2000

defaults
    mode    http
    timeout connect 5000
    timeout client  50000
    timeout server  50000

frontend http_front
    bind *:80
    
    # Rutas para los microservicios
    use_backend usuarios_back if { path_beg /api/usuarios }
    use_backend servicios_back if { path_beg /api/servicios }
    use_backend ordenes_back if { path_beg /api/ordenes }
    
    default_backend frontend_back

backend usuarios_back
    balance roundrobin
    server user1 usuarios:3001 check

backend servicios_back
    balance roundrobin
    server serv1 servicios:3000 check

backend ordenes_back
    balance roundrobin
    server ord1 ordenes:3003 check

backend frontend_back
    balance roundrobin
    server front1 frontend:80 check
