global
    maxconn 2000
    resolvers docker
        nameserver dns1 127.0.0.11:53
        resolve_retries 3
        timeout resolve 1s
        timeout retry 1s
        hold valid 10s

defaults
    mode    http
    timeout connect 5000
    timeout client  50000
    timeout server  50000
    default-server init-addr last,libc,none

listen stats
    bind *:8404
    stats enable
    stats uri /haproxy?stats
    stats refresh 5s

frontend http_front
    bind *:80
    use_backend usuarios_back if { path_beg /api/usuarios }
    use_backend servicios_back if { path_beg /api/servicios }
    use_backend ordenes_back if { path_beg /api/ordenes }
    default_backend frontend_back

backend usuarios_back
    balance roundrobin
    server user1 proyecto_final_usuarios:3001 check resolvers docker resolve-prefer ipv4
    server user2 proyecto_final_usuarios:3001 check resolvers docker resolve-prefer ipv4
    server user3 proyecto_final_usuarios:3001 check resolvers docker resolve-prefer ipv4

backend servicios_back
    balance roundrobin
    server serv1 proyecto_final_servicios:3000 check resolvers docker resolve-prefer ipv4
    server serv2 proyecto_final_servicios:3000 check resolvers docker resolve-prefer ipv4
    server serv3 proyecto_final_servicios:3000 check resolvers docker resolve-prefer ipv4

backend ordenes_back
    balance roundrobin
    server ord1 proyecto_final_ordenes:3003 check resolvers docker resolve-prefer ipv4
    server ord2 proyecto_final_ordenes:3003 check resolvers docker resolve-prefer ipv4
    server ord3 proyecto_final_ordenes:3003 check resolvers docker resolve-prefer ipv4

backend frontend_back
    balance roundrobin
    server front1 proyecto_final_frontend:80 check resolvers docker resolve-prefer ipv4
