global
    daemon

defaults
    mode http
    timeout connect 5s
    timeout client 50s
    timeout server 50s

frontend http_front
    bind *:80
    default_backend dashboard_backend

backend dashboard_backend
    balance roundrobin
    # Apunta internamente al servicio 'dashboard' en el puerto 8501
    server dashboard dashboard:8501 check

listen stats
    bind *:8404
    mode http
    stats enable
    stats uri /stats
    stats refresh 5s
    stats auth admin:admin
